@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Protest Riot", sans-serif;
}

.TelaPrincipal {
    width: 100vw;
    height: 100vh;
    background-image: url("/public/images/imagens_tela/TelaPrincipal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: url("/public/images/imagens_tela/use157.cur"), auto;
}

.Menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
    height: 100vh;
    width: 15vw;
    background-color: rgba(0, 0, 0, 0.563);
    border-radius: 20px;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 20vh;
    padding: 20px;
}

.logo img {
    width: 25vw;
    height: 25vh;    
}

.opcoes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column ;
    height: 50vh;
    width: 14vw;
}

.opcoes li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 15vw;
}

.MenuLink {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 20px;
    cursor: url("/public/images/imagens_tela/use157.cur"), auto;
}

.MenuLink:hover {
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.128);
    backdrop-filter: blur(20px);
    width: 12vw;
    cursor: url("/public/images/imagens_tela/use157.cur"), auto;
}

.config ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
}

.config li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
}

.config li:hover {
    border: 2px solid #cccccc86;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.128);
    backdrop-filter: blur(20px);
    width: 10vw;
    cursor: url("/public/images/imagens_tela/use157.cur"), auto;
}

.config img {
    width: 2.5rem;
    height: 2.5rem;
}