.Forma {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
}

.BackDeck {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 20px;
    flex-flow: column;
    text-align: center;
    background-color: #473936;
    border-radius: 0.5rem;
    border: 1px solid #ffdd43;
    width: 300px;
    height: 450px;
}

.BackDeck p {
    width: 300px;
    color: white;
    padding: 0.5rem;
}

.BackDeck h1 {
    color: white;
    font-size: 24px;
}

.BackDeck img {
    width: 200px;
    height: 250px;
}

.FormPost {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}