.BackDeck {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
    background-color: #473936;
    border-radius: 0.5rem;
    border: 1px solid #ffdd43;
    width: 400px;
    height: 550px;
}

.BackDeck p {
    color: white;
    font-weight: lighter;
    font-size: 24px;
    padding: 0.5rem;
}

.BackDeck h1 {
    color: white;
    padding: 0.5rem;
    font-size: 24px;
}

.BackDeck img {
    width: 250px;
    height: 300px;
}
