.UserContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 50px;
    background-color: #472f2e;
}

.ViewContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column wrap;
    height: 95vh;
    width: 66vw;
}

.OptionsBTNS {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
    padding: 20px;
    width: 60vw;
    outline: 2px solid #000;
    border: 2px solid #ffdd43;
    border-radius: 10px 10px 15px 15px;
}

.OptionsBTNS button {
    font-size: 1.3rem;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    background: #422a1e;
    box-shadow: 0 0.4rem #ffdd43;
}

button.active {
    color: white;
    box-shadow: 0 0.1rem #FFDD43;
    transform: translate(0.2rem);
}


.OptionsBTNS button:hover {
    background-color: rgba(255, 255, 255, 0.128);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    outline: none;
    cursor: url("/public/images/imagens_tela/use157.cur"), auto;
}

.BoxBuscaOtimizada {
    width: 5rem;
    height: 5rem;
}

.BuscaOtimizada{
    width: 2.5rem;
    height: 2.5rem;
}  

.BoxCriacoesPessoais {
    width: 14rem;
    height: 5rem;
}

.BuscaPorClasse {
    width: 12rem;
    height: 5rem;
}

.BoxBuscaGeral {
    width: 6rem;
    height: 5rem;
}

.BuscaGeral {
    height: 2rem;
    width: 2rem;
}

.BoxCriarBaralho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
    height: 5rem;
}